{% extends "base.html" %} {% block content %}
<!-- Banner -->
<section id="banner">
    <header>
        <h2 class="fade-in">
            <img src="{{ SITEURL }}/images/RH-logo.svg" /><br />
            Professional Astronomer (He/His)
        </h2>
    </header>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="col-3 col-12-narrower">
                <header class="major">
                    <img
                        class="image circle"
                        src="{{ SITEURL }}/images/headshot.png"
                    />
                </header>
            </section>
            <section class="col-9 col-12-narrower">
                <header class="major">
                    <h2><em>Hello! Welcome to my website!</em></h2>
                    {{ page.content }}
                </header>
            </section>
        </div>
    </div>
</section>

<!-- Highlights -->
<section class="wrapper style2">
    <div class="container">
        <!-- Astronomy Research: icon left, blurb right -->
        <div class="row section-row">
            <section class="col-3 col-12-narrower section-icon">
                <div class="box highlight" style="text-align: center">
                    <i class="icon major fa-keyboard-o"></i>
                    <h3>Astronomy Research</h3>
                </div>
            </section>
            <section class="col-9 col-12-narrower section-blurb">
                <p>{{ page.research_blurb }}</p>
            </section>
        </div>

        <hr />

        <!-- Teaching, Mentoring, & Outreach: icon right, blurb left -->
        <div class="row section-row">
            <section class="col-9 col-12-narrower section-blurb">
                <p>{{ page.teaching_blurb }}</p>
            </section>
            <section class="col-3 col-12-narrower section-icon">
                <div class="box highlight" style="text-align: center">
                    <i class="icon major fa-comments"></i>
                    <h3>Teaching, Mentoring, &amp;&nbsp;Outreach</h3>
                </div>
            </section>
        </div>

        <hr />

        <!-- About Me: icon left, blurb right -->
        <div class="row section-row">
            <section class="col-3 col-12-narrower section-icon">
                <div class="box highlight" style="text-align: center">
                    <i class="icon major fa-user"></i>
                    <h3>About Me</h3>
                </div>
            </section>
            <section class="col-9 col-12-narrower section-blurb">
                <p>{{ page.about_blurb }}</p>
            </section>
        </div>
    </div>
</section>
{% endblock %}
