{% extends "base.html" %} {% block extra_head %}
<meta http-equiv="refresh" content="3;https://www.mpia.de/~hviding" />
{% endblock %} {% block content %}
<section id="cta">
    <header>
        <h2>
            I have moved to the Max-Planck Institute for Astronomy<em
                ><i
                    ><br />Redirecting you to my new website. Click
                    <a href="https://www.mpia.de/~hviding">here</a> if nothing
                    happens.</i
                ></em
            >
        </h2>
    </header>
</section>
{% endblock %}
